.publicationResult {
    display: flex;
    overflow: hidden;
}

.filter {
    flex: 1;
    width: 363px;
    height: 838px;

    display: flex;
    flex-direction: column; 
    
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.filter h3 {
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    color: #000000; 
}


.result {
    flex:3;

}

.searchFilter {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
}


.searchBar {
    width: 70%; 
    height: 20px;
    padding: 4px;
    box-sizing: "border-box";
    border: "1px solid #F1F1F1";
    border-radius: "4px";
    margin:0 auto;
    margin-bottom: 30px;
}

.department {
    width: 70%; 
    height: 25px;
    padding: 4px;
    margin:0 auto;
}

.filterButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 25px;
}

.buttonDesign {
    background-color: #4b2e83;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.buttonDesign:hover {
    background-color: #6d42c2;
}

.result {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.resultDiv {
    flex:9
}

.resultDiv1 {
    border: 1px solid red;
    flex:1
}