.singleResult {
    border: 1px solid blue;
    height: 80px;
    display: flex;
}


.titleAndDesc {
    border: 1px solid red;
    margin-left: 40px;
    flex:6;
    display: flex;
    flex-direction: column;
}

.resultTitle {
}

.resultTitle h4 {
    margin: 0;
    padding: 0;
}

.resultDesc {
    font-size: 12px;
    border: 1px solid red;
}

.resultID {
    flex: 2;
    border: 1px solid red;
}

.resultDate {
    flex: 2;
    border: 1px solid red;
}