.singleResult {
    height: 73px;
    display: flex;
    border-bottom: 0.01rem solid;
    margin-left: 20px;
    margin-right: 20px;
}


.titleAndDesc {
    margin-left: 40px;
    flex:6;
    display: flex;
    flex-direction: column;
}

.resultTitle {
    flex: 1;
    overflow: hidden
}


.resultTitle h4 {
    flex: 1;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 500px;
    overflow: hidden;
}

.resultDesc {
    font-size: 12px;
    height: 40px;
}

.resultDesc p {
    margin: 0;
    padding: 0;
    width: 500px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.resultID {
    flex: 2;
}

.resultID p {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.resultDate {
    flex: 2;
}

.resultDate p {
    align-items: center;
    justify-content: center;
    text-align: center;
}